{% extends 'base.html' %}

{% block content %}

<h1>ALL PRODUCTS</h1>

{% for instance in objects_list %}
<p>------------------</p>

<p>
    <a href="{{ instance.get_absolute_url }}">Titulo: {{instance.title}}</a>
    <br>
    <a> Description: {{instance.description}}</a>
    <br>
    <a> Price: {{instance.price}}</a>
    <br>
    <br>
    <a href="{{ instance.get_absolute_url_update }}">Atualizar</a>
    <a href="{{ instance.get_absolute_url_delete }}">Deletar</a>
</p>

{% endfor %}
{% endblock %}